{% verbatim %}

<!-- File thumb -->
<script type="text/template" id="files-thumb">
	<div class="file {{type}}" fileId="{{ fileId }}">
		{{#if video}}
			<div class="icon"></div>
		{{/if}}
		<div class="meta">
			{{ name }}
		</div>
		<img src="../files/thumbs/{{ thumb }}" />
	</div>
</script>


<!-- Holds add files form -->
<script type="text/template" id="files-windows-add">
	<form method="post" name="addForm" id="addFilesForm">
		<input type="hidden" name="folderId" value="{{ folderId }}" />
		<h1>Загрузить в альбом "{{ name }}"</h1>
		<smart-label name="files" type="file" title="Выберите файл(ы)" multiple="multiple" required></smart-label>
		<smart-button type="submit">Загрузить</smart-button>
		<div class="progress" style="clear:both; display: none">
			Осталось файлов <span class="toProceed">0</span>/<span class="total">0</span>
		</div>
	</form>
</script>


<!-- Holds file info form -->
<script type="text/template" id="files-windows-file">
	<div class="toolbar main file">
		<div class="path">
			{{#each path}}
				<a href="#album={{ folderId }}">{{ name }}</a>
				<div class="arrow"></div>
			{{/each}}
			<span>{{ file.name }}</span>
		</div>
	</div>
	{{#if file.video}}
	<video src="../files/files/{{ file.location }}" autoplay="autoplay" class="photo" controls></video>
	{{/if}}
	{{#if file.image}}
	<img src="../files/files/{{ file.location }}" class="photo" />
	{{/if}}
	<div class="comments">
		<h1>Комментарии</h1>
		<form class="comment new">
			<input type="hidden" name="type" value="file"/>
			<input type="hidden" name="id" value="{{ file.fileId }}"/>
			<user-avatar></user-avatar>
			<div class="bubble">
				<textarea name="text"></textarea>
				<smart-button type="submit">Добавить</smart-button>
			</div>
		</form>
		<div class="list">
		{{#each comments}}
		<user-comment ownerId="{{ ownerId }}" hasAvatar="{{ hasAvatar }}" avatarExtension="{{ avatarExtension }}" name="{{ name }} {{ lastname }}" created="{{ created }}">{{ text }}</user-comment>
		{{/each}}
		</div>
	</div>
</script>


{% endverbatim %}
{# <video src="../files/files/{{ location }}" autoplay="autoplay" class="photo" controls></video> #}