{% verbatim %}

<!-- Folder thumb -->
<script type="text/template" id="folders-thumb">
	<div class="folder" folderId="{{ folderId }}">
		<div class="meta">
			{{ name }}
			<a href="#" class="deleteFolder">Удалить</a>
			<a href="#" class="editFolder">Изменить</a>
		</div>
		{{#if thumb}}
		<img src="../files/thumbs/{{ thumb }}" />
		{{/if}}
	</div>
</script>


<!-- Holds add folder form -->
<script type="text/template" id="folders-windows-add">
	<form method="post" id="addFolderForm">
		<input type="hidden" name="parentId" value="{{ folderId }}" />
		<h1>Добавить альбом в "{{ name }}"</h1>
		<smart-label type="text" title="Название" name="name" required></smart-label>
		<smart-button type="submit" ng-class="{ disabled: ajax }">Создать</smart-button>
	</form>
</script>

<!-- Holds edit folder form -->
<script type="text/template" id="folders-windows-edit">
	<form method="post" id="editFolderForm">
		<input type="hidden" name="folderId" value="{{ folderId }}" />
		<h1>Редиктирование альбома "{{ name }}"</h1>
		<smart-label type="text" title="Название" name="name" value="{{ name }}" required></smart-label>
		<smart-button type="submit" ng-class="{ disabled: ajax }">Изменить</smart-button>
	</form>
</script>

<!-- Holds edit folder form -->
<script type="text/template" id="folders-path">
	{{#each path}}
		<a href="#album={{ folderId }}">{{ name }}</a>
		<div class="arrow"></div>
	{{/each}}
		<span>{{ name }}</span>
</script>

{% endverbatim %}