{% verbatim %}


<!-- Input to label template -->
<script type="text/template" id="forms-label">
	<label>
		<span class="name">{{ title }}</span>
		<input type="{{ type }}" name="{{ name }}" value="{{ value }}" />
		<span class="desc"></span>
	</label>
</script>


<!-- Submit button template -->
<script type="text/template" id="forms-submit">
	<label class="button">
		<input type="submit" value="{{ value }}"/>
	</label>
</script>


<!-- Simple button  -->
<script type="text/template" id="forms-button">
	<a href="#" class="button" ng-transclude></a>
</script>

{% endverbatim %}