<div class="header">
	<a class="logo s{{ random(10) }}" href="{{ base }}"></a>
</div>
<div class="toolbar">
    <div class="holder">
        <a href="{{ base }}">Новости</a>
        <a href="{{ base }}files">Файлы</a>
        <a href="{{ base }}">Как пользоваться</a>
        <a href="?type=logout" style="float: right">Выйти</a>
    </div>
</div>