<div class="header">
    <div class="content">
        <a class="logo" href="{{ base }}"></a>
        <div class="toolbar">
            <a href="{{ base }}" {{ (pageName == "index")|addClass("active") }}>Лента</a>
            <div class="separator"></div>
            <a href="{{ base }}files" {{ (pageName == "files")|addClass("active") }}>Файлы</a>
            <div class="separator"></div>
            <a href="{{ base }}me" {{ (pageName == "me")|addClass("active") }}>Профиль</a>
        </div>
    </div>
</div>