<!doctype html>
<html lang="en-US" ng-app="skyApp">
<head>
{% import "shared/elements.twig" as elements %}
{% import "shared/tips.twig" as tips %}
<head>
    <meta charset="UTF-8">
    <title>{{ preferences.site.name }} : {{ page.title }}</title>
    <link rel="shortcut icon" href="{{ base }}img/icons/fav.png" />
    <link rel="stylesheet" href="{{ base }}css/styles.css" type="text/css"/>
    <link rel="stylesheet" href="{{ base }}css/{{ pagePath }}.css" type="text/css"/>
</head>
<body class="{% block bodyClass %}layout{% endblock %}" ng-app="skyApp">
    <div id="pageContentHolder" ng-controller="pageController">

        {# Content holder #}
        {% block content %}

            <div class="mainPageHolder">


                {# Main header #}
                {% include "/shared/header.twig" %}

                {# Output page information #}
                {% for message in resultMessages %}
                    {{ elements.resultMessage(message) }}
                {% endfor %}

                {# Page main content #}
                {{ page.content|raw }}

            </div>
        {% endblock %}

    </div>

    {# Externals #}
    <script type="text/javascript" src="{{ base }}jvs/external/jquery.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/external/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/external/extends.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/external/handlebars.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/flowplayer/flowplayer-3.2.12.min.js"></script>

    {# Core #}
    <script type="text/javascript" src="{{ base }}jvs/core/sky.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/callbacks.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/ajax.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/ajaxFiles.xhr.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/history.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/tips.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/windows.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/localStorage.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/templates.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/core/directives.js"></script>

    {# Directives #}
    <script type="text/javascript" src="{{ base }}jvs/directives/forms.js"></script>

    {# Services #}
    <script type="text/javascript" src="{{ base }}jvs/services/folders.js"></script>
    <script type="text/javascript" src="{{ base }}jvs/services/files.js"></script>

    <script type="text/javascript" src="{{ base }}jvs/pages/{{ pageName }}.js"></script>
    {% for jsTemplate in page.jsTemplates %}
        {% include "js/" ~ jsTemplate.realPath ~ "." ~ preferences.templates.jsTemplates.extension %}
    {% endfor %}
    <script type="text/javascript">
        var page = page || { data: {} };
        page.data.templates =  {{ jsTemplates|raw }};
        page.data.url  		= "{{ (base ~ realPath)|escape("js") }}";
        page.data.base 		= "{{ base|escape("js") }}";
    </script>
</body>
</html>