{# Tips macros #}

{% macro tip(name) %}

	<div id="{{ name }}TipText" class="hidden">
		{% if name == "payoutsDisabled" %}
			Выплаты на Вашем аккаунте отключены, <br/> Вы не сможете получать средства до обращения в <a href="{{ base }}tickets">службу поддержки</a>.

		{% elseif name == "payoutsCurrency" %}
			Платежные реквизиты по Вашему аккаунту не заданы.
			Для указания реквизитов обратитесь в <a href="{{ base }}tickets/7">службу поддержки</a>.

		{% elseif name == "payoutsCashless" %}
			Выплаты на Вашем аккаунте осуществляются по безналичному расчету.<br/> По всем вопросам обращайтесь в <a href="{{ base }}tickets">службу поддержки</a>.

		{% elseif name == "pseudoDisabled" %}
			<p>Услуга <b>"Псевдоподписки"</b> для Вашего аккаунта отключена.</p>
			<p><a href="{{ base }}tickets/12" target="_blank">Запросить услугу</a></p>

		{% elseif name == "subscriptionsDisabled" %}
			<p>Услуга <b>"МТ подписки"</b> для Вашего аккаунта отключена.</p>
			<p><a href="{{ base }}tickets/9" target="_blank">Запросить услугу</a></p>

		{% elseif name == "dispatchDisabled" %}
			<p>Услуга <b>"СМС рассылки"</b> для Вашего аккаунта отключена.</p>
			<p><a href="{{ base }}tickets/5" target="_blank">Запросить услугу</a></p>

		{% elseif name == "secretWord" %}
			<h4>Секретное слово</h4>
			{{ "
			Это произвольная строка (5-32 символов), которая используется для идентификации Вас как владельца<br />
			аккаунта при обращении в службу поддержки с целью изменения персональных данных или платежных реквизитов.<br />
			Секретное слово можно указать только один раз при регистрации, в дальнейшем его изменение невозможно.<br />
			Храните секретное слово в тайне! Передача его посторонним лицам может привести к использованию Вашего<br />
			аккаунта недоброжелателями в корыстных целях. В случае утраты секретного слова судьба аккаунта будет<br />
			решаться администрацией в индивидуальном порядке."|nl2br
			}}

		{% elseif name == "changePersonal" %}
			Для изменения номера телефона, email адреса или <br/>номера кошелька, обратитесь в
			<a href="{{ base }}tickets/7">службу поддержки</a>.
		{% endif %}
	</div>

{% endmacro %}